{% extends 'setting/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container profile-container">
    <h1>Профиль пользователя</h1>

    <div class="user-info">
        <p><strong>Имя:</strong> <span class="username">{{ user.username }}</span></p>
        <p><strong>Адрес электронной почты:</strong> <span class="email">{{ user.email }}</span></p>
        {% if user.profile_picture %}
            <p><strong>Текущее фото профиля:</strong> <img src="{{ user.profile_picture.url }}" alt="Фото профиля" style="max-width: 100px; height: auto;"></p>
        {% endif %}
    </div>

    <h2>Редактировать профиль</h2>
    <form method="post" enctype="multipart/form-data"> {% comment %} Обязательно для загрузки файлов {% endcomment %}
        {% csrf_token %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Имя:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Адрес электронной почты:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.profile_picture.id_for_label }}">Изменить фото профиля:</label>
            {{ form.profile_picture }}
            {% if form.profile_picture.errors %}
                <div class="alert alert-danger">{{ form.profile_picture.errors }}</div>
            {% endif %}
            <small class="form-text text-muted">Выберите новое изображение для загрузки.</small>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>

    <div class="other-actions">
        <p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
    </div>
</div>
{% endblock %}